@import './base.css';

#app {
  max-width: 2220px; 
  margin: 0 auto; 
  padding: 2rem;
  font-weight: normal;
  width: 100%; 
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}


@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center; 
    background: #ccc9c9;
    margin: 0; 
    padding: 0; 
  }

  #app {
    width: 100%; 
    max-width: 2220px; 
  }
}


@media (max-width: 1024px) {
  body {
    background: #ccc9c9; 
    display: block; 
  }

  #app {
    padding: 1rem; 
  }
}
